---
title: About this page for you
layout: layouts/base.njk
---

<div class="container">
  <h1>This page is for you!</h1>
  <p>It was made for you using HTML, CSS and JavaScript. And served as a JAMStack site.</p>
  <p>You can explore the source code in its <a href="https://github.com/philhawksworth/page-for-you.git">GitHub repository</a></p>
</div>


