---
title: Daily Breifing
layout: layouts/base.njk
pagination:
  data: news
  size: 1
  alias: feed
permalink: /{{ feed.country }}/index.html
---

<div class="container">
  <h1>This page is for you!</h1>
  <div class="love">❤️</div>
  <p class="vibe"></p>

  <ul class="news">
    {% for article in feed.news.articles %}
    <li>
      <h2><a href="{{ article.url }}">{{ article.title }}</a></h2>
      <span>{{ article.source.name}}</span> - <time>{{ article.publishedAt }}</time>
    </li>
    {% endfor %}
  <ul>

</div>

<script src="/js/vibe.js"></script>
