---
title: A page for you
layout: layouts/base.njk
---

<div class="container">
  <h1>This page is for you!</h1>
  <div class="love">❤️</div>
  <p class="vibe"></p>
</div>
<script src="/js/vibe.js"></script>

